---
layout: single 
classes: wide


---
<small>
When one sees videos of recent robots achieving multi-contact manipulation or locomotion, one wonders why they are slow when they come to contacts? The main reason in all cases is simple: robots fear impacts. Unlike humans, most of the robots can not mitigate high impulse by design. Rather than being rigidly mounted on a fixed-base, under-actuated robots have to balance themselves using contacts that (i) can only provide unilateral supporting forces, (ii) include limited contact areas, e.g., a partial foothold, and (iii) can change over time. Thus to enable:
<ul>
  <li> swift motion while physically interacting with the environment with multiple complex impacts, 
  <li> exploiting energetic contact transitions for robot manipulation and locomotion. 
</ul> 
We propose to bring the latest developments to answer specific questions on both hardware design and
motion generation paradigms that include:

 <ul>
  <li><a href="/topics/collision-detection">How to perform timely impact/collision detection?</a></li>
  <li><a href="/topics/fid">How to properly model the frictional impact dynamics?</a></li>
  <li><a href="/topics/estimation">How to improve the floating-base state estimates?</a></li>
  <li><a href="/topics/impactAwareHW">How to improve the hardware design to mitigate high external impulses?</a></li>
  <li><a href="/topics/balance">How to balance the under-actuated floating-base while executing high dynamic motion?</a></li>
  <li><a href="/topics/impactAwareControl">How to introduce impact-awareness to high dynamic motion control and planning?</a></li>
</ul> 
</small>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
