---
layout: single 
classes: wide


---
<small>
Faster, higher, stronger is the Olympic game slogan, so is the expectation for legged robot motion generation. Executing Dynamic and swift motion as human beings, e.g., hammering a nail, swiftly grabbing a box, or jumping, leads to issues that are not fully addressed yet by the state-of-the-art robot control and hardware design.

Most of the robots are not manufactured to mitigate high external impulses. Thus fragile components, such as the harmonics, significantly limit the maximum impulse a robot can take. Unlike robots mounted on a fixed-base, under-actuated robots have to balance themselves using contacts that can only provide unilateral supporting forces. Even worse, the contact areas are sometimes limited, e.g., a partial foothold, and change over time. 

Thus, to accelerate the robot performance, we would like to bring the latest developments include but not limited to:
 <ul>
  <li>How to perform timely impact/collision detection?</li>
  <li>How to improve the hardware design to mitigate high external impulses?</li>
  <li>How to properly model the frictional impact dynamics ?</li>
  <li>How to balance the under-actuated floating-base while executing high dynamic motion?</li>
  <li>How to stabilize the robot states given multiple impacts?</li>
  <li>How to preview and exploit the impact-induced state jumps for model-based controllers?</li>
</ul> 
</small>

{{ content }}

<h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3>

{% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

{% for post in posts %}
  {% include archive-single.html %}
{% endfor %}

{% include paginator.html %}
